/* fonts */
@font-face {
  font-family: "Roboto";
  src: url(".././../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* icons */
@font-face {
  font-family: 'icons';
  src: url('.././../assets/fonts/icons.eot');
  src: url('.././../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
  url('.././../assets/fonts/icons.woff') format('woff'),
  url('.././../assets/fonts/icons.ttf') format('truetype'),
  url('.././../assets/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-iconVK:before{content:'\0041';}
.icon-iconInstagram:before{content:'\0042';}
.icon-iconFacebook:before{content:'\0043';}
.icon-iconClose:before{content:'\0044';}
.icon-iconBurger:before{content:'\0045';}
.icon-iconArrowDown:before{content:'\0046';}
.icon-iconArrowUp:before{content:'\0047';}
