@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./normalize";
@import "./generic";
@import "./mobile_menu";

/* header */
.menu__frame {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include breakpoint(large) {
    padding: 30px 0;
  }

  &-logo {
    justify-content: flex-start;
    margin-left: 20px;
    width: 115px;
    height: 28px;

    @include breakpoint(large) {
      margin-left: 40px;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    line-height: 147.3%;
    opacity: 0.95;

    &-link {
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      color: $lightblack;
      margin-left: 30px;
      cursor: pointer;

      &.is-active, &:hover {
        color: $black;
      }
    }

    &-button {
      margin: 0 40px;
      border: 1px solid $teamgrey;
      border-radius: 6px;
      background-color: $white;
      font-size: 16px;
      line-height: 19px;
      color: $lightblack;
      padding: 10px 20px;
      cursor: pointer;
    }

    &.mobile__burger {
      position: absolute;
      right: 23px;
      cursor: pointer;
      color: $black;
      font-size: 24px;
    }

  }
}

header {
  position: sticky;
  top: 0;
  background: $white;
  z-index: 1;
}
