
$black: #000;
$lightblack: #1B1B1B;
$grey: #4F4F4F;
$teamgrey: #828282;

$onegrey: #B4B5BD;
$backgrey: #E6E6E6;

$lightgrey: #F7F9FB;
$white: #FFFFFF;
$midgrey:#E0E0E0;

$menucolourfirst: rgba(255, 255, 255, 0.05);
$menucoloursecond: rgba(255, 255, 255, 0.95);

$collaphover: rgba(97, 161, 153, 0.1);
$collapopen: rgba(97, 161, 153, 0.15);

$greengray: #61a199b4;
$button: #61A199;
$seaweave: #508E87;
$newweave: #61a1999f;

$red: #EB5757;
$purple: #3F3D56;