@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

/* Frames for AboutUs.html */
/* about__frame */
.about__frame {

  &-img {
    display: flex;
    justify-content: center;
    margin: 0 54px 40px 54px;

    img {
      height: 202px;
      width: 267px;

      @include breakpoint(large) {
        height: 300px;
        width: 397px;
      }
    }
  }

  &-text {
    max-width: 90%;
    margin: 0 auto;
    @include TextL($lightblack);
  }
}