@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

/* Frames for AboutUs.html */
/* contact__frame */
.contact__frame {

  &-contacts {
    display: block;

    &-first {
      &.is-text {padding-top: 20px; @include TextS($grey); }
      &.is-data {@include TextM($black);}
    }

    &-second {
      &.is-text {padding-top: 20px; @include TextS($grey);}
      &.is-data {@include TextM($black);}
    }

    @include breakpoint(large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-first {
        &.is-text {@include TextS($grey); border: none;}
        &.is-data {@include TextM($black); border: none;}
        padding-right: 70px;
        border-right: solid #C8C8CF 1px;
      }

      &-second {
        &.is-text {@include TextS($grey);}
        &.is-data {@include TextM($black);}
        padding-left: 70px;
      }
    }

  }
}
