@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

/* Frames for AboutUs.html */
/* teams__frame */
.teams__frame {

  &-team {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div{
      margin-top: 30px;
      padding: 0 10px;

      @include breakpoint(large) {
        margin-top: 55px;
      }
    }
  }
}
