@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

/* Frames for MainPage.html */
/* how__rent */

.have__car {

  p {
    margin: 0;
    @include TextM($black);

    @include breakpoint(medium) {
      @include TextM($black);
    }
    @include breakpoint(large) {
      @include TextL($black);
    }
  }

  &-advantages {

    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 35px;

    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 40px;
    }

    div {
      display: flex;

      @include breakpoint(large) {
        display: block;
        max-width: 15%;
      }
    }

    &-line {
      width: 1px;
      height: 20px;
      text-align: center;
      padding-left: 16px;

      @include breakpoint(large) {
        width: 100px;
        height: 1px;
        padding-top: 54px;
      }
    }

    &-img {
      width: 32px;
      height: 32px;
      padding-right: 17px;

      @include breakpoint(large) {
        width: 108px;
        height: 108px;
        padding-right: 0;
      }
    }
  }
}