@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

/* Frames for MainPage.html */
/* try_renting */

.try_renting {

  &-rent {

    display: block;
    margin: 0 20px 60px 20px;

    img {
      width: 215px;
      height: 159px;

      @include breakpoint(large) {
        width: 456px;
        height: 338px;
      }
    }

    &-box {

      h2{
        margin-bottom: 30px;
        @include breakpoint(large) {
          margin-bottom: 40px;
        }
      }

      &-button {
        border: 1px solid $button;
        border-radius: 6px;
        background-color: $button;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        padding: 16px 40px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}