@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";

.field {
    display: grid;
    grid-template-columns: 260px 420px;
    align-items: center;

    .p{
        color: $lightblack;
        margin: 0;

        @include breakpoint(large) {
            font-size: 14px;
        }
    }

    .input{
        margin-top: 12px;
        background: $white;
        border: 2px solid $midgrey;
        box-sizing: border-box;
        border-radius: 6px;
        outline: none;
        width: 100%;
        padding: 14px 0 14px 12px;
        font-size: 14px;

        @include breakpoint(large) {
            width: auto;
        }
    }

    .warning {
        color: $red;
        margin-top: 8px;
    }

    .input:focus {
        outline: none;
        border: 2px solid $button;
    }

    .input:hover{
        border: 2px solid $greengray;
    }

    .error{
        border-color: $red;
    }
}
