@import "./../CommonParts/variables";
@import "./../CommonParts/mixins";
@import "./../CommonParts/normalize";
@import "./../CommonParts/generic";


.fields {
    margin-top: 30px;

    .field {
        margin-bottom: 26px;
    }
}

@include breakpoint(small) {
  .inputs {
    .field {
      display: block;
      margin-bottom: 20px;
    }
  }
}